- if user_signed_in?
  %div
    Добро пожаловать #{current_user.first_name.present? || current_user.email} !
    = button_to "Выйти из аккаунта", destroy_user_session_path, method: :delete
    = link_to "Редактировать профиль", edit_user_path(current_user)

    -# %br
    -# = link_to 'Создать заказ', :new_order
    -#
    -# - @order.each do |order|
    -#   .order-card
    -#     %h1
    -#       = order.title
    -#       |
    -#       = order.dishes
    -#       |
    -#       = order.amount
    -#       |
    -#       = order.point.name
    -#
    -#     %p (Название заказа, список блюд, сумма, филиал)
    -#     = link_to 'Удалить заказ', order_path(order), data: {turbo_method: :delete, turbo_confirm: "Вы уверены?"}
- else
  = button_to "Войти в аккаунт", new_user_session_path
